body{
  background-color: #f5f5f5;
}

section#menu ul a{
  color: #323232;
}

.contain, .container{
  position: relative;
  z-index: 5;
}

.container {
  max-width: 1000px;
}

.texting{
  max-width: 760px;
}

.texting img{
  width: 50%;
}

.card-deck .card{
  min-width: 200px;
}

.cardingT{
  max-width: 700px;
  border-bottom: 1px solid #a3a3a3;
}

.card h1{
  color: #17c756;
}

.lead, .card-body, .card-body li, .texting a, .card a{
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.card a:hover{
  text-decoration: none;
}

.teibol{
  width: 100%;
  height: 100%;
  display: table;
}

.contain .emul{
  display: table-cell;
  vertical-align: middle;
}

.row{
  margin: 100px 0px;
}

.descr{
  font-family: 'Montserrat';
  font-weight: bold;
}

.rait{
  border-right: 0.75rem #000 solid;
}

.lef{
  border-left: 0.75rem #000 solid;
}

.sectorUno{
  background-image: url(../pictures/gabyrold.png);
  background-size: contain;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.sectorDos{
  background-image: url(../pictures/sansuave.png);
  background-size: contain;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.sectorTres{
  background-image: url(../pictures/sales.png);
  background-size: contain;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.contain .red{
  font-family: 'Myriad Pro';
  font-style: italic;
  color: red;
}

.bienvenida{
  max-width: 900px;
}

@media only screen and (max-width: 1024px) and (min-width: 600px){
  section#menu ul a{
    color: white;
  }

  .row{
    font-size: .8rem!important;
    padding: 1rem!important;
    margin: 20px 0px;
  }

  .row img{
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 600px) {
  section#menu ul a{
    color: white;
  }

  .row{
    display: inline-block;
    padding: 1rem!important;
    margin: 20px 0px;
  }

  .indiv{
    display: block;
    max-width: 100%;
    flex: 0;
  }
}
