@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*Fuentes importadas*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
}

.contenedormax {
  width: 100%;
}

body {
  background-color: #403c3c;
}

section#contenedor_general {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url(../pictures/body1.png);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.logo {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20%);
  /*margin: 15px 46%;*/
}

section#body {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

section#scrolldown {
  margin-left: 88px;
  margin-top: 78px;
  width: 350px;
  height: 60px;
}

header {
  width: 100%;
  background-color: #e0e0e0 transparent;
  z-index: 1000;
  /*box-shadow: 1px 1px 3px #000;          --No queda muy bien--
  height: 75px;*/
}

section#menu {
  width: 45%;
  padding-top: 40px;
  margin-left: 55%;
  /*padding-left: 750px;*/
}

section#menu ul a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px 12px 15px;
  border-bottom: 5px solid transparent;
  transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
}

.haided {
  display: none;
}

section#menu ul a:hover {
  border-bottom: 5px solid #ef003e;
}

p {
  font-family: 'Montserrat';
}

p#titulo {
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 4em;
  color: white;
}

p#menorque {
  margin-top: 68px;
  font-family: 'PT Sans', sans-serif;
  /*-webkit-transform:rotate(270deg);------ usar a este men para hacer un tipo colage de letras xddd*/
  color: white;
  font-size: 1.5em;
}

/*No hay necesidad de poner height aqui*/

.plan {
  font-size: 2em;
  position: absolute;
  top: 550px;
  left: 125px;
  color: white;
  border: 5px solid white;
  padding: 10px 20px 10px 20px;
  background: transparent;
  border-radius: 2px;
  transition: background 1s, color 1s;
  -webkit-transition: background .5s, color .5s;
  -moz-transition: background .5s, color .5s;
  -o- transition: background .5s, color .5s;
}

.plan:hover {
  background-color: #4db7ff;
  color: black;
  border-color: #4db7ff;
}

section#seccion {
  width: 100%;
  margin-top: 20px;
  background-color: white;
}

section#seccion a {
  text-decoration: none;
}

.circulero {
  position: relative;
  top: 35%;
  width: 90%;
  display: flex;
  margin: 10px auto;
}

.cir {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 5px 20px;
  text-align: center;
  position: relative;
}

.cir div {
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 10px auto;
  margin-bottom: 60px;
  font-size: 1.5em;
  color: white;
  vertical-align: middle;
  transition: all .2s ease-in-out;
}

.cir div:hover{
  color: rgba(255, 255, 255, 0);
}

section#seccion p {
  margin-top: 25px;
  color: #646464;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

p#titulo2 {
  color: black;
  width: 450px;
  position: relative;
  top: 210px;
  margin: 0 auto;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  color: #636363;
  text-align: center;
}

.cir div {
  -o-border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
  transition: all .2s ease-in-out;
  background-repeat: no-repeat;
}

.design {
  background-color: #9fd8ff;
  background-image: url(../pictures/hoverdiseño.png);
  background-position: -100% 80px;
  background-size: 50% 50%;
}

.design:hover {
  background-position: center;
  background-color: #76afd6;
}

.code {
  background-color: #ef213e;
  background-image: url(../pictures/iconcodigo.png);
  background-size: 60% 40%;
  background-position: center -100%;
}

.code:hover {
  background-position: center;
  background-color: #c90924;
}

.media {
  background-color: #000d20;
  background-image: url(../pictures/hovermedia.png);
  background-position: 300% 80px;
  background-size: 50% 25%;
}

.media:hover {
  background-position: center;
  background-color: #0c1e37;
}

.barbajo {
  background-color: #282828;
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  text-align: center;
}

.barbajo a {
  flex: 1;
}

.barbajo img {
  width: 65px;
  height: 65px;
  display: inline-block;
  margin: 25px auto;
  filter: grayscale(95%);
  transition: filter 0.35s ease-in-out;
}

.barbajo a:hover img {
  filter: grayscale(0%);
}

/*
  Parte de los servicios que ofrecemos y como se muestran

  P.D:

  Los hice sin enlace ni nada, porque que weba men
  y no se me ocurrieron muchas ideas de que pondriamos en esos enlaces
*/

.contenServ {
  width: 95%;
  margin: 100px auto 20px;
}

.serfv {
  display: flex;
}

.serfv div {
  text-align: center;
  flex: 1;
}

.texted h2 {
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 35px;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #e7e7e7;
}

.texted {
  line-height: 1.5;
}

.texted p {
  font-size: 1em;
  text-align: left;
  color: #b9b9b9;
  padding: 1em 3em;
}

.image-Ar img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) and (min-width: 450px) {
  /*Tablet*/
  body {
    padding-top: 70px;
  }
  header {
    margin: 0;
    top: 0;
    position: fixed;
  }
  section#menu {
    width: 80%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.78);
    left: -100%;
    overflow: scroll;
  }
  section#menu ul a {
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0.46);
    padding: 25px 30px;
    font-size: 1em;
  }
  .haided {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
    height: 50px;
  }
  .haided a img {
    width: 20px;
    height: auto;
    margin: 15px 15px;
  }
  .logo {
    width: 36px;
    height: 36px;
    left: 95%;
    transform: translate(-50%, 20%);
  }
  section#scrolldown {
    margin: 70px 20px;
  }
  .plan {
    top: 300px;
    left: 420px;
  }
  p#titulo2 {
    top: 100px;
    font-size: 2em;
  }
  .circulero {
    top: 25%;
  }

  .cir div {
    font-size: 1em;
    width: 120px;
    height: 120px;
    vertical-align: middle;
    line-height: 120px;
  }
  section#seccion p {
    font-size: .8em;
  }
  .contenServ {
    width: 100%;
  }
  .texted h2 {
    margin: 20px auto;
  }
  .texted p {
    font-size: .8em;
  }
}

@media only screen and (max-width: 450px) {
  /*Movil*/
  body {
    padding-top: 70px;
  }
  header {
    margin: 0;
    top: 0;
    position: fixed;
  }
  section#menu {
    width: 80%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.78);
    left: -100%;
    overflow: scroll;
    z-index: 100;
  }
  section#menu ul a {
    display: block;
    border-bottom: 2px solid rgba(255, 255, 255, 0.46);
    padding: 25px 30px;
    font-size: 1em;
  }
  .haided {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
    height: 70px;
  }
  .haided a {
    display: block;
  }
  .haided a img {
    width: 30px;
    height: auto;
    margin: 20px 20px;
  }
  .logo {
    width: 50px;
    height: 50px;
    left: 90%;
    transform: translate(-50%, 20%);
  }
  section#scrolldown {
    margin: 0;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-color: rgb(39, 23, 59);
  }
  p#titulo {
    margin: 5px 10px 10px;
    font-size: 1.2em;
  }
  p#menorque {
    width: 50%;
    font-size: .7em;
    margin: 5px 15px;
  }
  .plan {
    top: 87%;
    left: 60%;
    height: 60px;
    font-size: 1em;
  }
  p#titulo2 {
    top: 160px;
    width: 100%;
    font-size: 2em;
  }
  .circulero {
    display: block;
    top: 12%;
  }
  .cir {
    margin: 0;
    padding: 0;
    display: block;
  }
  .cir div {
    line-height: 200px;
    width: 200px;
    height: 200px;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .cir p {
    font-size: 1em;
    width: 80%;
    margin: auto;
    padding-top: 30px;
  }
  .barbajo {
    height: 95px;
  }
  .barbajo img {
    width: 35px;
    height: 35px;
  }
  .contenServ {
    width: 100%;
    margin: 20px 0px 20px;
  }
  .content {
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .serfv {
    display: block;
    width: 100%;
  }
  .serfv h2 {
    font-size: 1.8em;
    margin: 40px;
  }
  .serfv div {
    flex: 0;
    display: block;
    width: 100%;
  }
  .serfv p {
    font-size: .8em;
    text-align: center;
    padding: 0 10px;
  }
}
