@import url('http://fonts.googleapis.com/css?family=Julius+Sans+One');
/*Faltaban las comillas*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
}

.contenedormax {
  width: 100%;
}

body {
  background-color: #403c3c;
}

section#contenedor_general {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url(../pictures/body1.png);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.logo {
  width: 75px;
  height: 75px;
  position: fixed;
  margin: 15px 46%;
}

section#body {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

section#scrolldown {
  margin-left: 88px;
  margin-top: 78px;
  width: 350px;
  height: 60px;
}

header {
  width: 100%;
  background-color: #e0e0e0 transparent;
  /*box-shadow: 1px 1px 3px #000;          --No queda muy bien--
  height: 75px;*/
}

section#menu {
  width: 470px;
  margin: auto;
  padding-top: 40px;
  padding-left: 750px;
}

/*
  Aqui abajo hice cambios
  solo son 2 lineas
*/

section#menu ul a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 15px 12px 15px;
  border-bottom: 5px solid transparent;
  transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
}

section#menu ul a:hover {
  border-bottom: 5px solid #ef003e;
}

p#titulo {
  font-family: 'PT Sans', sans-serif;
  font-weight: lighter;
  font-size: 4em;
  color: white;
}

p#menorque {
  margin-top: 68px;
  font-family: 'PT Sans', sans-serif;
  /*-webkit-transform:rotate(270deg);------ usar a este men para hacer un tipo colage de letras xddd*/
  color: white;
  font-size: 1.5em;
}

/*No hay necesidad de poner height aqui*/

.plan {
  font-size: 2em;
  position: absolute;
  top: 550px;
  left: 125px;
  color: white;
  border: 5px solid white;
  padding: 10px 20px 10px 20px;
  background: transparent;
  border-radius: 2px;
  transition: background 1s, color 1s;
  -webkit-transition: background .5s, color .5s;
  -moz-transition: background .5s, color .5s;
  -o- transition: background .5s, color .5s;
}

.plan:hover {
  background-color: #4db7ff;
  color: black;
  border-color: #4db7ff;
}

section#seccion {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  overflow: hidden;
}

section#seccion a {
  text-decoration: none;
}

.circulero {
  position: relative;
  top: 35%;
  width: 90%;
  display: flex;
  margin: 10px auto;
}

.cir {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 5px 20px;
}

.cir div {
  width: 150px;
  height: 150px;
  margin: 10px auto;
  margin-bottom: 60px;
}

section#seccion p {
  width: 270px;
  margin-top: 25px;
  color: #646464;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.redes {
  background-color: #ef213e;
  -o-border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}

.redes:hover {
  background-image: url(../pictures/socialmedia.png);
}

p#titulo2 {
  color: black;
  width: 450px;
  position: relative;
  top: 210px;
  margin: 0 auto;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  color: #636363;
}

.design {
  background-color: #9fd8ff;
  -o-border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}

.design:hover {
  background-image: url(../pictures/hoverdiseño.png);
}

.code {
  background-color: #ef213e;
  -o-border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}

.code:hover {
  background-image: url(../pictures/iconcodigo.png);
}

.media {
  background-color: #9fd8ff;
  -o-border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}

.media:hover {
  background-image: url(../pictures/hovermedia.png);
}

.barbajo {
  background-color: #282828;
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  text-align: center;
}

.barbajo a {
  flex: 1;
}

.barbajo img {
  width: 65px;
  height: 65px;
  display: inline-block;
  margin: 25px auto;
  filter: grayscale(95%);
  transition: filter 0.35s ease-in-out;
}

.barbajo a:hover img{
  filter: grayscale(0%);
}

/*
  Parte de los servicios que ofrecemos y como se muestran

  P.D:

  Los hice sin enlace ni nada, porque que weba men
  y no se me ocurrieron muchas ideas de que pondriamos en esos enlaces
*/

.contenServ {
  margin-top: 150px;
  max-width: 84.5%;
  margin: 7.625%;
}

.serfv div {
  text-align: center;
  font-family: 'Roboto';
}

.texted h2 {
  letter-spacing: 5px;
  font-weight: lighter;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #e7e7e7;
}

.texted {
  float: left;
  width: 600px;
  height: 450px;
  line-height: 1.5;
}

.content {
  margin-top: 75px;
  padding: 10px 15px;
}

.texted p {
  font-size: 17px;
  text-align: left;
  color: #b9b9b9;
}

.image-Ar img {
  max-width: 600px;
  height: 450px;
}

.izquierdas {
  float: left;
}

.derechas {
  float: right;
}

#footer {
  height: 120px;
  width: 100%;
  background-color: rgb(71, 73, 75);
  text-align: center;
  color: #fff;
  clear: both;
}

#footer p {
  padding-top: 45px;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: lighter;
}

@media only screen and (max-width: 1360px) {
  .content {
    margin-top: 10px;
  }
  .texted {
    max-width: 565px;
    width: 565px;
    height: 360px;
    line-height: 2.1;
  }
  .texted h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .texted p {
    font-size: 14px;
  }
  .image-Ar img {
    max-width: 565px;
    width: 565px;
    height: 360px;
  }
}

/*@media only screen and (min-width: 1024px) {
  .content {
    margin-top: 10px;
  }
  .texted {
    max-width: 430px;
    height: 300px;
    line-height: 2.1;
  }
  .texted h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
  }
  .texted p {
    font-size: 14px;
  }
  .image-Ar img {
    max-width: 430px;
    height: 300px;
  }
}*/

/*@media only screen and (min-width: 768px) {
  .image-Ar img {
    max-width: 323px;
    height: 220px;
  }

  .texted {
    max-width: 323px;
    height: 220px;
  }

  .texted h2{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .texted p{
    font-size: 11px;
  }
}*/

/*@media only screen and (min-width: 425px) {
  .image-Ar img{
    max-width: 178px;
    height: 140px;
  }

  .texted{
    max-width: 178px;
    height: 140px;
    line-height: 2.4;
  }

  .texted h2{
    font-size: 15px;
    margin-bottom: 5px;
  }

  .texted p{
    font-size: 9px;
  }
}*/
