@import url('https://fonts.googleapis.com/css?family=Roboto');

p, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 1.15em;
}

h2 {
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: 100;
  line-height: 3.5;
  margin: 40px 0;
}

p{
  padding: 10px 100px;
}

body{
  background-color: #eff8ff;
}

section#menu ul a {
  color: #1c1c1c;
  font-weight: bold;
  font-size: 1rem;
}

.mein-cont {
  width: 100%;
}

.mein-cont section {
  width: 100%;
  height: 550px;
  display: flex;
}

.feis {
  background-color: #eff8ff;
  color: black;
  text-align: center;
}

.textCon {
  flex: 1;
}

.pic {
  flex: 1;
  display: inline-block;
}

.feis img {
  height: 345px;
  width: auto;
  margin: 100px auto;
}

.tuit {
  background-color: #9fd8ff;
}

.tuit h2 {
  color: #0b97f7;
}

.tuit img {
  width: 600px;
  height: auto;
  margin: 50px auto;
  display: block;
}

.insta {
  background-color: #28212d;
  color: white;
}

.insta h2 {
  color: #f55065;
}

.insta img{
  width: 600px;
  height: auto;
  margin: 50px auto;
  display: block;
}
@media only screen and (max-width: 1000px) and (min-width: 450px) {
  section p{
    padding: 10px 10px;
    font-size: 1em;
  }

  .feis img{
    height: 300px;
    width: auto;
  }

  .tuit img{
    width: 420px;
    height: auto;
    margin: 100px auto;
  }

  .insta img{
    width: 400px;
    height: auto;
    margin: 120px auto;
  }

  section#menu ul a{
    padding: 25px 30px;
    font-size: 1em;
    color: #fff;
  }
}

@media only screen and (max-width: 450px) {
  .mein-cont section{
    display: block;
  }

  .textCon h2{
    display: block;
    width: 100%;
    font-size: 2em;
    line-height: 1;
  }

  .textCon p{
    display: block;
    width: 90%;
    font-size: .8em;
    line-height: 1.4;
    font-weight: 50;
    padding: 0;
    margin: 0 auto;
  }

  .textCon, .pic{
    flex: 0;
  }

  .pic{
    width: 85%;
    margin: 0 auto;
  }

  .tuit .pic{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 20px;
  }

  .tuit .pic img{
    width: 100%;
    height: auto;
    margin: 0;
  }

  .feis img{
    width: 100%;
    height: auto;
    position: relative;
    margin: 40px auto;
  }

  .tuit h2, .insta h2{
    line-height: 2em;
    margin: 0;
    padding: 40px 0;
  }

  .tuit h2{
    padding: 15px 0;
  }

  .insta .pic{
    width: 100%;
    margin-top: 20px;
  }

  .insta img{
    width: 100%;
    height: auto;
    margin: 0;
  }

  section#menu ul a{
    padding: 25px 30px;
    font-size: 1em;
    color: #fff;
  }
}
